<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <%= render template: 'items/index' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'items/form' %>
  </div>
</div>