<div class="jumbotron">
  <h1>Do It!</h1>
  <p>Do It! is a self-destroying task list to keep you focused on what's important.</p>
  <p>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>