<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Days Left</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.days_left %></td>
        <td><%= link_to 'Edit', edit_list_item_path(@list, item) %></td>
        <td><%= link_to 'Completed', [@list, item], method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


